.main{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ser{
    justify-content: space-around;
    margin: 10px;
    margin-left: 55px;
}
body{
    background-color: white;
}
.li1, .li2, .li3, .li4, .li5,.li6{
    margin-top: 10px;
}

.logo{
    display: flex;
    margin-top: -10px;
    height: 60px;
    width: 60px;
    margin-left: 25px;
}
ul{
    display: flex;
}
li{
    
    width: 100px;
    color: black;
}
::placeholder{
    color: darkgray;
}
h4{
    justify-content: space-around;
}
.ser1{
    padding-left: 20px;
    font-size: small;
    padding-right: 20px;
}
.image{
    display: inline ;
    justify-content: center;
    align-items: center;
}
.img1{
    margin-left: 130px;
    margin-right: 150px;
}
.caro{
    margin-left: 130px;
    margin-right: 134px;
}
.caro2{
    margin-left: 130px;
    margin-right: 134px;
}
.txt{
    margin-left: 400px;
    margin-right: 300px;
    color: white; 
    -webkit-text-stroke: 1px orange; 
    font-weight: bold;
}
.txt2{
    margin-left: 475px;
    margin-right: 300px;
    color: white; 
    -webkit-text-stroke: 1px blue; 
    font-weight: bold;
}
.fimg{
    margin-left: 130px;
    margin-right: 134px;
   
}
.img{
    display: inline;
    padding: 20px;
    
}
.gimg{
    margin-left: 130px;
    margin-right: 134px;
}
.img{
    display: inline;
    padding: 20px;
}
.himg{
    margin-left: 130px;
    margin-right: 134px;
}
.img{
    display: inline;
    padding: 20px;
}
.jimg{
    margin-left: 130px;
    margin-right: 134px;
}
.img{
    display: inline;
    padding: 20px;
}
.kimg{
    margin-left: 130px;
    margin-right: 134px;
}
.img{
    display: inline;
    padding: 20px;
}
.limg{
    margin-left: 130px;
    margin-right: 134px;
}
.img{
    display: inline;
    padding: 20px;
}
.foot{
    margin-left: 130px;
}
.foot2{
    display: inline-block;
    margin-left: 360px;
    margin-bottom: 10px;
    margin-top: -335px;
    
}
.foot3{
    display: block;
    margin-left: 650px;
    margin-bottom: 10px;
    margin-top: -466px;
}
.text{
    display: block;
}

.fa-solid fa-user{
    float: right;
    padding-left: 20px;
    justify-content: right;
    height: 30px;
    width: 30px;
}

